body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#Card {

    height: 450px;
    width: 500px;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
}
img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
i {
    color: bisque;

}